@charset "utf-8";
/* CSS Document */

*{
padding:0;
margin-left:0;	
}


pre{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	}
	
img {
	
	}

#ModoJuego{
		
	}
